__pycache__
.idea
.venv
.vscode
.vs

**.ckpt
**.bin
**.sft
**.safetensors
**.pth
**.pt
**.sh

/cache
/extensions
/models/**/*
/output
/outputs
/repositories
/venv
/log
/tmp

/cache.json
/config.json
/ui-config.json
/styles.csv
/styles.csv.bak
/params.txt
/webui-user.bat
/webui-user.sh
/user.css
notification.mp3

/config_states
/node_modules
/package-lock.json

**.exp
**.lib
**.obj

*.*.*
