__pycache__
.idea
.venv
.vscode
.vs

**.ckpt
**.bin
**.sft
**.safetensors
**.pth
**.pt
**.sh

/cache
/extensions
/models/**/*
/output
/outputs
/repositories
/venv
/log
/tmp

notification.mp3

/config_states
/node_modules
/package-lock.json

**.exp
**.lib
**.obj

*.*.*
